body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}
#banner {
  height: 30vh;
  background-color: aliceblue;
}

nav.navigation {
  height: 10vh;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5px;
}

div.each-nav {
  height: 100%;
  width: auto;
  min-width: 5vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

div.each-nav:hover svg{
  height: 3em;
}

section.chart {
  background-color: #f9f9f9;
  height: 60vh;
}



